.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

  }
  .gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  .img{
      width:250px;
      border: 2px solid red;
      border-radius: 25px;
  }
/* ----------------------- Event css------------------------- */

.card1{
  margin-top: 10px;
  border-radius: 10px;

}

.btn{
  margin-top: 15px;
  width: 80%;
  background-color: #328297;
  border: none;
  font-size: 30px;
  color: white;
  margin-left: 150px;
}