.footer{
    background-color: #2e64a9;
    height: 50vh;
    margin-top: 70px;
}

.text{
    text-align: center;
    color: white;  
    margin-top: 300px;
}

.img2{
 margin-left: 1000px;
}
.img{
    width: 150px;
}