.head{
    text-align: center;
}
.bg {
    background-color: #ecf0f1;
    font-family: Georgia, serif;
    font-size: 30px;
    height: 50px;
  }

.formBody{
    border: 2px solid #efeeee;
    margin-top: 80px;
    padding: 10px;
    margin: 0 auto; 
    width:70%;
    margin-top: 80px;
    border-radius:10px;
}



.btn {
    width: 100%;
    background-color: #328297;
    border: none;
    font-size: 30px;
    color: white;
    border-radius:5px;
  }
  

.downText{
  font-size: 15px;
  text-align:center ;
  color: rgb(17, 17, 17);
}